@model TripsServiceBLL.DTO.Drivers.DriverDetailsDTO
@using TripsServiceBLL.Utils
@{
	ViewData["Title"] = $"{Model.Name}";
}
<h1 class="tp-label">Driver details</h1>
<div class="tp-form">
<div class="row">
    <div class="col-md-6">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                @{
                    int i = 0;
                    foreach (var photo in Model.Photos)
                    {
                        bool isCurrentPhotoFirst = photo.Id == Model.Photos.FirstOrDefault().Id;
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" aria-current="@isCurrentPhotoFirst" aria-label="Slide @i" class="@(isCurrentPhotoFirst ? "active" : "")"></button>
                        i++;   
                    }
                 }
            </div>
            <div class="carousel-inner">
                @foreach (var photo in Model.Photos)
                {
                    <div class="carousel-item @((photo.Id == Model.Photos.FirstOrDefault().Id) ? "active" : "")">
                        <img src="/@UtilConstants.ImagesFolderName/@UtilConstants.DriversFolderName/@Model.Id.ToString()/@photo.Link" class="d-block w-100 img-responsive" style="object-fit: contain; height: 400px" alt="Driver photo">
                    </div>
                }
            </div>
            <a class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <h2 class="tp-label">@Model.Name</h2>
        <p class="tp-label">Experience: @Model.Experience years</p>
        <div class="rating-container" id="main-card-rating-container" tp-label" style="display: flex; flex-wrap: wrap;">
            <span class="rating-value text-light mt-2" style="order: 1;">@Model.AverageRating</span>
            <span class="star-container" style="flex-basis: 100%;">
                <span class="star">
                    <span class="star-filled" style="width:100%;"></span>
                    <span class="star-outline"></span>
                </span>
                <span class="star">
                    <span class="star-filled" style="width:100%;"></span>
                    <span class="star-outline"></span>
                </span>
                <span class="star">
                    <span class="star-filled" style="width:100%;"></span>
                    <span class="star-outline"></span>
                </span>
                <span class="star">
                    <span class="star-filled" style="width:100%;"></span>
                    <span class="star-outline"></span>
                </span>
                <span class="star">
                    <span class="star-filled" style="width:100%;"></span>
                    <span class="star-outline"></span>
                </span>
            </span>
        </div>
    </div>
</div>
<h2 class="mt-5 tp-label">Feedbacks</h2>

    <ul id="all-feedbacks-container">
    @if (Model.Feedbacks.Count() == 0)
    {
        <h4 class="tp-label">There's nothing to see here yet</h4>
    }
    else foreach (var feedback in Model.Feedbacks)
    {
        <li class="mt-3 feedback-container" data-feedback-id="@feedback.Id">
            <p>
                <strong class="tp-label">@feedback.UserName</strong> 
                <span class="rating-container tp-label">
                    <span class="rating-value" style="display:none">@feedback.Rating</span>
                    <span class="star-container">
                        <span class="star">
                            <span class="star-filled" style="width: 100%;"></span>
                            <span class="star-outline"></span>
                        </span>
                        <span class="star">
                            <span class="star-filled" style="width: 100%;"></span>
                            <span class="star-outline"></span>
                        </span>
                        <span class="star">
                            <span class="star-filled" style="width: 100%;"></span>
                            <span class="star-outline"></span>
                        </span>
                        <span class="star">
                            <span class="star-filled" style="width: 100%;"></span>
                            <span class="star-outline"></span>
                        </span>
                        <span class="star">
                            <span class="star-filled" style="width: 100%;"></span>
                            <span class="star-outline"></span>
                        </span>
                    </span>
                </span>
            </p>
            <p>@feedback.Text</p>
            <hr/>
        </li>
    }
    </ul>
    </div>
@section Scripts{
    <script src="@Url.Content("~/js/ratingBuilder.js")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script>
        function recomputeAverageRating(){
            const ratingsCount = $(".rating-value").length;
            let rating = 0;
            if (ratingsCount >= 2){          
                for (let i = 0; i < ratingsCount - 1; i++){
                    rating += Number($(".rating-value").eq(i + 1).text());
                }
                rating/=(ratingsCount - 1);
            }
            const fixedString = rating.toFixed(1).replace(".0", "");
            $(".rating-value").eq(0).text(fixedString);
            applyRatingToElement($("#main-card-rating-container"));
        }
    </script>
    <script>
        const connection = new signalR.HubConnectionBuilder().withUrl("/feedbackshub").build();
        connection.on("FeedbackDelete", function (id) {
            $(`.feedback-container[data-feedback-id=${id}]`).remove();
            recomputeAverageRating();            
        });
        connection.on("FeedbackCreate", function (feedback) {
            $("#all-feedbacks-container").append(`
                <li class="mt-3 feedback-container" data-feedback-id="${feedback.id}">
                    <p>
                        <strong class="tp-label">${feedback.userName}</strong> 
                        <span class="rating-container tp-label">
                            <span class="rating-value" style="display:none">${feedback.rating}</span>
                            <span class="star-container">
                                <span class="star">
                                    <span class="star-filled" style="width: 100%;"></span>
                                    <span class="star-outline"></span>
                                </span>
                                <span class="star">
                                    <span class="star-filled" style="width: 100%;"></span>
                                    <span class="star-outline"></span>
                                </span>
                                <span class="star">
                                    <span class="star-filled" style="width: 100%;"></span>
                                    <span class="star-outline"></span>
                                </span>
                                <span class="star">
                                    <span class="star-filled" style="width: 100%;"></span>
                                    <span class="star-outline"></span>
                                </span>
                                <span class="star">
                                    <span class="star-filled" style="width: 100%;"></span>
                                    <span class="star-outline"></span>
                                </span>
                            </span>
                        </span>
                    </p>
                    <p>${feedback.text}</p>
                    <hr/>
                </li>
            `);
            applyRatingToElement($(".feedback-container").last());
            recomputeAverageRating();
        });
        connection.start();
    </script>
}