@model TripsServiceBLL.DTO.Drivers.DriverDetailsDTO
@using TripsServiceBLL.Utils
@{
	ViewData["Title"] = $"{Model.Name}";
}
<h1 class="tp-label">Driver details</h1>
<div class="tp-form">
<div class="row">
    <div class="col-md-6">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                @{
                    int i = 0;
                    foreach (var photo in Model.Photos)
                    {
                        bool isCurrentPhotoFirst = photo.Id == Model.Photos.FirstOrDefault().Id;
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" aria-current="@isCurrentPhotoFirst" aria-label="Slide @i" class="@(isCurrentPhotoFirst ? "active" : "")"></button>
                        i++;   
                    }
                 }
            </div>
            <div class="carousel-inner">
                @foreach (var photo in Model.Photos)
                {
                    <div class="carousel-item @((photo.Id == Model.Photos.FirstOrDefault().Id) ? "active" : "")">
                        <img src="/@UtilConstants.ImagesFolderName/@UtilConstants.DriversFolderName/@Model.Id.ToString()/@photo.Link" class="d-block w-100 img-responsive" style="object-fit: contain; height: 400px" alt="Driver photo">
                    </div>
                }
            </div>
            <a class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <h2 class="tp-label">@Model.Name</h2>
        <p class="tp-label">Experience: @Model.Experience years</p>
        <div class="rating-container tp-label" style="display: flex; flex-wrap: wrap;">
            <span class="rating-value text-light mt-2" style="order: 1;">@Model.AverageRating</span>
            <span class="star-container" style="flex-basis: 100%;">
                <span class="star">
                    <span class="star-filled" style="width:100%;"></span>
                    <span class="star-outline"></span>
                </span>
                <span class="star">
                    <span class="star-filled" style="width:100%;"></span>
                    <span class="star-outline"></span>
                </span>
                <span class="star">
                    <span class="star-filled" style="width:100%;"></span>
                    <span class="star-outline"></span>
                </span>
                <span class="star">
                    <span class="star-filled" style="width:100%;"></span>
                    <span class="star-outline"></span>
                </span>
                <span class="star">
                    <span class="star-filled" style="width:100%;"></span>
                    <span class="star-outline"></span>
                </span>
            </span>
        </div>
    </div>
</div>
<h2 class="mt-5 tp-label">Feedbacks</h2>

    <ul>
    @if (Model.Feedbacks.Count() == 0)
    {
        <h4 class="tp-label">There's nothing to see here yet</h4>
    }
    else foreach (var feedback in Model.Feedbacks)
    {
        <li class="mt-3">
            <p>
                <strong class="tp-label">@feedback.UserName</strong> 
                <span class="rating-container tp-label">
                    <span class="rating-value" style="display:none">@feedback.Rating</span>
                    <span class="star-container">
                        <span class="star">
                            <span class="star-filled" style="width: 100%;"></span>
                            <span class="star-outline"></span>
                        </span>
                        <span class="star">
                            <span class="star-filled" style="width: 100%;"></span>
                            <span class="star-outline"></span>
                        </span>
                        <span class="star">
                            <span class="star-filled" style="width: 100%;"></span>
                            <span class="star-outline"></span>
                        </span>
                        <span class="star">
                            <span class="star-filled" style="width: 100%;"></span>
                            <span class="star-outline"></span>
                        </span>
                        <span class="star">
                            <span class="star-filled" style="width: 100%;"></span>
                            <span class="star-outline"></span>
                        </span>
                    </span>
                </span>
            </p>
            <p>@feedback.Text</p>
            <hr/>
        </li>
    }
    </ul>
    </div>
@section Scripts{
        <script src="@Url.Content("~/js/ratingBuilder.js")"></script>
}