@model List<TripPublicViewModel>

<h1>Other trips</h1>

@if (Model.Count == 0)
{
	<p>No trips here so far.</p>
}
else
{
	<table class="table table-striped">
		<thead>
			<tr>
				<th>User name</th>
				<th>Trip name</th>
				<th>Description</th>
				<th>Departure time</th>
				<th>Arrival time</th>
				<th>Status</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		@foreach (var trip in Model)
		{
			<tr>
				<td>@trip.UserName</td>
				<td>@trip.Name</td>
				<td>@trip.Description</td>
				<td>@trip.UtcStartTimeZone</td>
				<td>@trip.UtcFinishTimeZone</td>
				<td>
					@if (trip.IsCurrent)
					{
						<span class="badge badge-pill badge-info">Ongoing</span>
					}
					else if (trip.IsFuture)
					{
						<span class="badge badge-pill badge-warning">Planned</span>
					}
					else if (trip.IsPast)
					{
						<span class="badge badge-pill badge-success">Completed</span>
					}
				</td>
				<td><a href="@Url.Action("Details", new { id = trip.TripId })">Details</a></td>
			</tr>
		}
		</tbody>
	</table>
}